@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Open+Sans:wdth,wght@84.3,300&display=swap");

.nav a{
  display: block;
  padding: 1rem;
  text-align: center;
  background: #403b78;
  color: #f7e6e6;
  font-family: "Open Sans", sans-serif;
  font-family: "Cormorant SC", serif;
  text-decoration: none;
  font-size: 2rem;
}
