* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-navy: #0c1f72a1;
  --color-navy-opaque: rgba(6, 0, 79, 0.77);
  --color-light: #ffffff;
  --font-sans: Helvetica, sans-serif;
  background-color: #f7e6e6;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0rem;
}